@model IEnumerable<SPF.Models.Items.Item>

@{
    ViewData["MetaDescription"] = "спецпрофстиль";
    ViewData["MetaKeyWords"] = "купить, спецовка, перчатки, обувь, цена, очки, защитные, спец-одежда, спец одежда, спец одежду, спецовку, штаны, защитный, лопата, цена,";
    ViewData["MetaTitle"] = "Купить Спец Одежду";
    ViewData["Title"] = "Каталог";
    ViewData["CssLink"] = "catalog.css";
}
<div id="directionOfMainContent">
    <div id="leftPartOfMainContent">
    </div>
    <div id="middlePartOfMainContent">
        <div id="catalogBlock">
            <button class="buttonFilter">
                <p>Фильтр</p>
            </button>
            <div id="catalogMenu">
                <form class="catalogForm">
                <div id="NameCatalog">
                    <h3>
                        Каталог
                    </h3>
                </div>
                    <div class="catalogSearchName">
                        <p>
                            Поиск:
                        </p>
                </div>
                <div class="catalogSearchField">
                    <input class="catalogSearch" name="searchName"/>
                </div>
                <div id="catalogList">
                    <ul class="catalogUl">
                        <li class="mainCatalogItem">
                            <input type="checkbox"
                                   class="openList"
                                   id="toggleList_0"
                                   name="toggle">
                            <label for="toggleList_0"
                                   class="openList">
                            </label>
                            <div class="mainNameCatalog">
                                <a>Спецодежда</a>
                            </div>
                            <ul class="listSettingCategory">
                                <li>
                                    <h4>Летняя</h4>
                                    <div class="setting">
                                        <input type="checkbox"  name="Type" value="Костюм" />
                                        <p>
                                            Костюм
                                        </p>
                                    </div>
                                    <div class="setting">
                                        <input type="checkbox"  name="Type" value="Халат" />
                                        <p>
                                            Халат
                                        </p>
                                    </div>
                                    <div class="setting">
                                        <input type="checkbox" name="Type" value="Трикотаж" />
                                        <p>
                                            Трикотаж
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <h4>Зимняя</h4>
                                    <div class="setting">
                                        <input type="checkbox" name="Type" value="Куртка" />
                                        <p>
                                            Куртка
                                        </p>
                                    </div>
                                    <div class="setting">
                                        <input type="checkbox" name="Type" value="Жилет" />
                                        <p>
                                            Жилет
                                        </p>
                                    </div>
                                    <div class="setting">
                                        <input type="checkbox" name="Type" value="Брюки" />
                                        <p>
                                            Брюки
                                        </p>
                                    </div>
                                    <div class="setting">
                                        <input type="checkbox" name="Type" value="Полукомбинезоны" />
                                        <p>
                                            Полукомбинезоны
                                        </p>
                                    </div>
                                    <div class="setting">
                                        <input type="checkbox" name="Type" value="Костюмы сварщика утепленные" />
                                        <p>
                                            Костюмы сварщика утепленные
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <h4>Защитная</h4>
                                    <div class="setting">
                                        <input type="checkbox" name="Type" value="Влагозащитная" />
                                        <p>
                                            Влагозащитная
                                        </p>
                                    </div>
                                    <div class="setting">
                                        <input type="checkbox" name="Type" value="Спецодежда от кислот и агрессивной среды" />
                                        <p>
                                            Спецодежда от кислот и агрессивной среды
                                        </p>
                                    </div>
                                    <div class="setting">
                                        <input type="checkbox" name="Type" value="Спецодежда от высоких температур" />
                                        <p>
                                            Спецодежда от высоких температур
                                        </p>
                                    </div>
                                    <div class="setting">
                                        <input type="checkbox" name="Type" value="Фартуки" />
                                        <p>
                                            Фартуки
                                        </p>
                                    </div>
                                    <div class="setting">
                                        <input type="checkbox" name="Type" value="Сигнальные жилеты" />
                                        <p>
                                            Сигнальные жилеты
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="mainCatalogItem">
                            <input type="checkbox"
                                   class="openList"
                                   id="toggleList_1"
                                   name="toggle">
                            <label for="toggleList_1"
                                   class="openList">
                            </label>
                            <div class="mainNameCatalog">
                                <a>Обувь</a>
                            </div>
                            <ul class="listSettingCategory">
                                <li>
                                    <h4>Летняя</h4>
                                    <div class="setting">
                                        <input type="checkbox" name="Type" value="Ботинки" />
                                        <p>
                                            Ботинки
                                        </p>
                                    </div>
                                    <div class="setting">
                                        <input type="checkbox" name="Type" value="Сапоги" />
                                        <p>
                                            Сапоги
                                        </p>
                                    </div>
                                    <div class="setting">
                                        <input type="checkbox" name="Type" value="Полуботинки" />
                                        <p>
                                            Полуботинки
                                        </p>
                                    </div>
                                    <div class="setting">
                                        <input type="checkbox" name="Type" value="Тапочки" />
                                        <p>
                                            Тапочки
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <h4>Зимняя</h4>
                                    <div class="setting">
                                        <input type="checkbox" name="Type" value="Ботинки утепленные" />
                                        <p>
                                            Ботинки утепленные
                                        </p>
                                    </div>
                                    <div class="setting">
                                        <input type="checkbox" name="Type" value="Сапоги утепленные" />
                                        <p>
                                            Сапоги утепленные
                                        </p>
                                    </div>
                                    <div class="setting">
                                        <input type="checkbox" name="Type" value="Обувь войлочная" />
                                        <p>
                                            Обувь войлочная
                                        </p>
                                    </div>
                                    <div class="setting">
                                        <input type="checkbox" name="Type" value="Чулки утепляющие" />
                                        <p>
                                            Чулки утепляющие
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <h4>ПВХ ЭВА</h4>
                                    <div class="setting">
                                        <input type="checkbox" name="Type" value="Сапоги" />
                                        <p>
                                            Сапоги
                                        </p>
                                    </div>
                                    <div class="setting">
                                        <input type="checkbox" name="Type" value="Галоши" />
                                        <p>
                                            Галоши
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="mainCatalogItem">
                            <input type="checkbox"
                                   class="openList"
                                   id="toggleList_2"
                                   name="toggle">
                            <label for="toggleList_2"
                                   class="openList">
                            </label>
                            <div class="mainNameCatalog">
                                <a>СИЗ</a>
                            </div>
                            <ul class="listSettingCategory">
                                <li>
                                    <h4>Средства индивидуальной защиты</h4>
                                    <div class="setting">
                                        <input type="checkbox" name="Type" value="Головы" />
                                        <p>
                                            Головы
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <div class="setting">
                                        <input type="checkbox" name="Type" value="Зрения" />
                                        <p>
                                            Зрения
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <div class="setting">
                                        <input type="checkbox" name="Type" value="Дыхания" />
                                        <p>
                                            Дыхания
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <h4>Средства защиты рук</h4>
                                    <div class="setting">
                                        <input type="checkbox" name="Type" value="Перчатки" />
                                        <p>
                                            Перчатки
                                        </p>
                                    </div>
                                    <div class="setting">
                                        <input type="checkbox" name="Type" value="Рукавицы" />
                                        <p>
                                            Рукавицы
                                        </p>
                                    </div>
                                    <div class="setting">
                                        <input type="checkbox" name="Type" value="Краги" />
                                        <p>
                                            Краги
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="mainCatalogItem">
                            <input type="checkbox"
                                   class="openList"
                                   id="toggleList_3"
                                   name="toggle">
                            <label for="toggleList_3"
                                   class="openList">
                            </label>
                            <div class="mainNameCatalog">
                                <a>Прочее</a>
                            </div>
                            <ul class="listSettingCategory">
                                <li>
                                    <h4>В разработке</h4>
                                </li>
                                <li>
                            </ul>
                        </li>
                        <li class="mainCatalogItem">
                            <button class="buttonFind">
                                    <input class="searchButton" type="submit" value="Filter" />
                                ПОИСК
                            </button>
                        </li>
                    </ul>
                </div>
                </form>
            </div>
            <div id="catalogContext">
                @foreach (var item in Model)
                {
                <div class="catalogItem">
                    <a asp-action="Item" asp-route-id="@item.Id">
                        <img class="catalogItemImg"
                             src="@item.ImgUrl"
                             />
                    </a>
                    <div class="catalogItemDescrition">
                        <div class="catalogItemFieldCategory">
                        </div>
                        <a asp-action="Item" asp-route-id="@item.Id"
                           class="contextHref">
                            <h4 class="catalogItemName">
                                @item.Name
                            </h4>
                        </a>
                        <p class="catalogItemVendorCode">
                            Артикул: @item.Id
                        </p>
                        <a asp-action="Item" asp-route-id="@item.Id"
                           class="contextHref">
                            <p class="catalogItemMiniDescrition">
                                @item.LowDescription
                            </p>
                        </a>
                    </div>
                    <div class="catalogItemCost">
                        @if(item.PriceLow > 0){
                                <div class="catalogItemCost">
                                    <p class="discountPrice">
                                        @item.PriceLow р.
                                    </p>
                                    <p class="oldPrice">
                                        @item.Price р.
                                    </p>
                                </div>
                        }
                        @if(item.PriceLow <= 0){
                                <p class="price">
                                    @item.Price р.
                                </p>
                        }
                    </div>
                </div>
                }
            </div>
        </div>
        <footer>
            <div id="bottonMenu">
                <a asp-controller="Contacts" asp-action="Index">
                    <div class="partOfBottonMenu">
                        Связаться
                    </div>
                </a>
                <a asp-controller="Catalog" asp-action="Index">
                    <div class="partOfBottonMenu">
                        Товары
                    </div>
                </a>
                <a asp-controller="Home" asp-action="Index">
                    <div class="partOfBottonMenu">
                        СпецПрофСтиль
                    </div>
                </a>
            </div>
        </footer>
    </div>
    <div id="rightPartOfMainContent">
    </div>
</div>
<script src="~/js/catalog_filter.js"></script>