@model SPF.Models.Items.Item

@{
    ViewData["Title"] = "Удаление";
    ViewData["CssLink"] = "admin_acceptDelete.css";
}

<div class="acceptDeleteField">
    <div class="acceptDeleteToBar">
        <h1>Удалить</h1>

        <h3>Вы уверены в удалении?</h3>
        <h5>@Model.Name</h5>
    </div>
    <div class="acceptDeleteInfo">
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.LowDescription)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.LowDescription)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.HighDescription)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.HighDescription)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Price)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Price)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PriceLow)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PriceLow)
            </dd>
        </dl>

        <form class="confirmDelete" asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Удалить" class="btn btn-danger" />
            <a asp-action="Index">К списку</a>
        </form>
    </div>

</div>