@model SPF.Models.Items.ItemsSpecification

@{
    ViewData["Title"] = "Детали";
    ViewData["CssLink"] = "admin_item_details.css";
}
<h1>Информация</h1>
<div class="detailsField">
    <div class="detailsParams">
    <h3>Параметры</h3>
        <div class="topMenu">
            <a asp-action="Edit" asp-route-id="@Model?.Item?.Id">Ред. Параметры</a> |
            <a asp-action="Index">К Списку</a>
        </div>
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Item.Id)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Item.Id)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Item.Name)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Item.Name)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Item.LowDescription)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Item.LowDescription)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Item.HighDescription)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Item.HighDescription)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Item.Price)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Item.Price)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Item.PriceLow)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Item.PriceLow)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Item.ImgUrl)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Item.ImgUrl)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Item.ImgListUrl)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Item.ImgListUrl)
                </dd>
                <dt>Изображение</dt>
                <dd>
                    <img src="@Model.Item.ImgUrl" width="200px" height="200px" />
                </dd>
            </dl>

    </div>
    <div class="detailsDescription">
    <h3>Описание</h3>
        <div class="topMenu">
            <a asp-controller="ItemsSpecifications" asp-action="Edit" asp-route-id="@Model?.Id">Ред. Описание</a> |
            <a asp-action="Index">К Списку</a>
        </div>
        <dl class="row">
            @if (Model.Name != null)
            {
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Id)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Id)
                </dd>
            }
            @if (Model.Name != null)
            {
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Name)
                </dd>
            }
            @if (Model.Size != null)
            {
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Size)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Size)
                </dd>
            }
            @if (Model.Material != null)
            {
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Material)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Material)
                </dd>
            }
            @if (Model.Model != null)
            {
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Model)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Model)
                </dd>
            }
            @if (Model.Color != null)
            {
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Color)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Color)
                </dd>
            }
            @if (Model.ProtectiveClass != null)
            {
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ProtectiveClass)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ProtectiveClass)
                </dd>
            }
            @if (Model.Weight != null)
            {
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Weight)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Weight)
                </dd>
            }
            @if (Model.Character != null)
            {
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Character)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Character)
                </dd>
            }
            @if (Model.MaterialInside != null)
            {
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.MaterialInside)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.MaterialInside)
                </dd>
            }
            @if (Model.Growth != null)
            {
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Growth)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Growth)
                </dd>
            }
            @if (Model.MatingClass != null)
            {
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.MatingClass)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.MatingClass)
                </dd>
            }
            @if (Model.Thread != null)
            {
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Thread)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Thread)
                </dd>
            }
            @if (Model.Height != null)
            {
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Height)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Height)
                </dd>
            }
        </dl>
    </div>
</div>