@model IEnumerable<SPF.Models.Items.Item>

@{
    ViewData["Title"] = "Каталог";
    ViewData["CssLink"] = "admin_item.css";
}
<div class="itemField">
    <div class="itemMenu">
        <div class="menuName">
            <h1>Каталог</h1>
        </div>

        <div class="itemMenuButton">
            <div class="itemButton">
                <a asp-action="Create">Добавить вещь</a>
            </div>
            <div class="itemButton">
                <a asp-controller="Admin" asp-action="Index"> Панель администратора</a>
            </div>
        </div>
        <form class="menuInput">
        <div class="inputField">
            <p>
                    Id:
            </p> 
            <input name="searchId"/> <br />
        </div>
        <div class="inputField">
            <p>
                    Название:
            </p> 
            <input name="searchName" /> <br />
        </div>
            <input class="inputButton" type="submit" value="Поиск" />
        </form>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PriceLow)
                </th>
                <th>
                    Управление
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PriceLow)
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id">Информация</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>